body{
    background:gray;
    margin:0;
}
header{
    background:white;
    padding: 10px;
}
div.myPictures{
    background:white;
}
div.myPictures img{
    width: 100%;
}   

header h1{
    margin:0;
}

div.myPictures h2{
    padding: 10px;
}
div.myPictures span{
    padding: 10px;
    float: right;
    margin-top: -60px;
    color:gray;
}

div.myPictures p{
    padding: 10px;
}

div.mainBox{
    margin: auto;
    width: 600px;
}